SECRET_KEY=your SECRET_KEY
DEBUG=

POSTGRES_DB=your database name
POSTGRES_USER=your user name
POSTGRES_PASSWORD=your password
POSTGRES_HOST=your host
POSTGRES_PORT=your port

STRIPE_API_KEY =your stripe api key

EMAIL_HOST_USER=your email
EMAIL_HOST_PASSWORD=your email host password

CELERY_BROKER_URL=your celery_broker url
CELERY_RESULT_BACKEND = your celery_backend url